*
{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f3f4;
    font-family: sans-serif;
}

.top-nav-bar {
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid orange;
    z-index: 2;
}

.logo {
    height: 40px;
    margin: 5px 10px;
}

.form-control {
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid orange !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}

.input-group-text {
    background: orange !important;
    border: 1px solid orange !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}

.search-box {
    display: inline-flex;
    width: 60%;
}

.fa-search {
    color: #fff;
}

.menu-bar {
    width: 40%;
    height: 57px;
    float: right;
}
.menu-bar ul {
    display: inline-flex;
    float: right;
}

.menu-bar ul li {
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
}

.menu-bar ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.fa-shopping-cart {
    margin-right: 5px;
}

@media only screen and (max-width: 980px) {
    .top-nav-bar{
        height: 118px;
        border-bottom: 0;
    }
    .search-box {
        width: 100%;
    }
    .menu-bar {
        width: 100%;
    }
    .menu-bar ul {
        margin: 10px 0;
        width: 100%;
    }
    .menu-bar ul li {
        height: 57px;
        width: 100%;
    }
}

/* slider CSS */

.slider {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.carousel {
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}

.carousel-indicators .inactive {
    z-index: 2 !important;
    background-color: #888888;
}

.carousel-indicators .active {
    z-index: 2 !important;
    background-color: #444444;
}

.h-85 {
    height: 85%;
}

@media only screen and (max-width: 980px) {
    .slider {
        width: 95vw;
        height: 66vh;
        padding-left: 3px;
        padding-right: 5px;
    }
}

.products {
    margin: 50px 0;
}

.products img {
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}

.title-box {
    background: orange;
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}

.title-box h2 {
    font-size: 24px;
}

.title-box::after {
    content: '';
    border-top: 40px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}

.individual-product h5 {
    color: #999999;
}

.individual-product img {
    width: 100%;
}

.product-overlay {
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}

.product-overlay .fa {
    cursor: pointer;
    background-color: #cccccc;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-left: -80px;
    margin-top: -20px;
    border-radius: 4px;
}

.product-overlay .btn-secondary {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.individual-product:hover .product-overlay {
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

.individual-product:hover img {
    transform: scale(1.1);
}

@media only screen and (max-width: 980px) {
    .individual-product:hover img {
        transform: scale(1.05);
    }
    .individual-product {
        border-bottom-style: solid;
        border-bottom-width: 80%;
        border-bottom-color: orange;
    }
}

.fa-envelope {
    margin-right: 5px;
}

.fa-mobile {
    margin-right: 5px;
}

.footer {
    margin-top: 50px;
    background: #000;
    color: #fff;
}

.footer h1 {
    font-size: 24px;
    padding-top: 20px;
}

.footer p {
    font-size: 16px;
}

section .wave {
    position: absolute;
    width: 100%;
    height: 142px;
    bottom: 0;
    left: 0;
    background: url(images/wave.png);
    animation: animate 10s linear infinite;
    z-index: 1;
}

section .wave:before {
    content: '';
    width: 100%;
    height: 142px;
    background: url(images/wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;
    z-index: 1;
}

section .wave:after {
    content: '';
    width: 100%;
    height: 142px;
    background: url(images/wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s;
    animation: animate-reverse 20s linear infinite;
    z-index: 1;
}

@keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}

@keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}

.product-page-img {
    height: 300px;
}

.single-product {
    margin-top: 70px;
}

.col-md-7 h2 {
    color: #555;
}

.single-product .fa {
    color: orange;
}

.single-product .price {
    color: orange;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

.single-product input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

.single-product .btn-primary {
    background-color: orange !important;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}

.single-product .fa-shopping-cart {
    color: #fff;
}

.product-description h6 {
    margin-top: 50px;
    color: orange;
}

.product-description p {
    margin-top: 30px;
}

.product-description hr {
    margin-bottom: 50px;
}

.title-box-lg {
    background: orange;
    color: #fff;
    width: 230px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}

.title-box-lg h2 {
    font-size: 24px;
}

.title-box-lg::after {
    content: '';
    border-top: 40px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 220px;
}

.copyright {
    margin-bottom: -80px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    border-top: 1px solid #555;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
}

.footer .copyright {
    font-size: 10px;
}

.footer hr {
    margin-top: -15px;
}